name: maintenance

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch: # Enables on-demand/manual triggering

permissions:
  contents: write
  pull-requests: write

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: git submodule update --init --depth=0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: make tflint in tools/magic-modules
        run: |
          git submodule update --remote
          go install golang.org/x/tools/cmd/goimports@latest
          cd tools/magic-modules
          make tflint
        env:
          OUTPUT_PATH: ${{ github.workspace }}/rules/magicmodules
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: |
            Update Magic Modules
          title: Update Magic Modules
          delete-branch: true
          body: |
            This is an automated pull request triggered by GitHub Actions. To trigger check runs, close and re-open it.
